@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

:root {
  --violet: hsl(263, 55%, 52%);
  --dark-grayish-blue: hsl(217, 19%, 35%);
  --dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 1.3rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  background-color: var(--light-gray);
  color: var(--dark-blackish-blue);
}

blockquote {
  color: inherit;
  opacity: 70%;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

strong {
  font-weight: 600;
  color: inherit;
  opacity: 100%;
}

main {
  padding: 2rem;
}

article {
  padding: 3rem;
  margin: 2rem 0;
}

.flex {
  display: flex;
}

.rounded-md {
  border-radius: 0.8rem;
}

.bg-violet {
  background-color: var(--violet);
}

.text-light {
  color: var(--light-gray);
}

.text-pale-50 {
  opacity: 50%;
}

.text-large {
  font-size: 2rem;
  margin: 2rem 0;
}
.img-small {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.img-round {
  border: solid 0.2rem rgba(207, 207, 207, 0.5);
  border-radius: 50%;
}

.bg-grey {
  background-color: var(--dark-grayish-blue);
}

.bg-white {
  background-color: var(--white);
}

.bg-dark {
  background-color: var(--dark-blackish-blue);
}

.attribution {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--dark-grayish-blue);
}

.link,
.link:visited {
  transition: all 0.2s ease-out;
  text-decoration-color: hsl(216, 100%, 68%);
  text-decoration-thickness: 0.125em;
  text-underline-offset: from-font;
  color: hsl(216, 87%, 45%);
  padding: 0.1rem;
}

.link:hover,
.link:active {
  cursor: pointer;
  color: hsl(17, 76%, 56%);
}

.link:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(92, 157, 255, 0.5);
}

@media only screen and (min-width: 768px) {
  body {
    height: 100vh;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 3rem;
  }

  article {
    margin: 0;
  }

  .testimonials {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 0.5fr 1fr;
    grid-template-areas:
      "daniel daniel jonathan jonathan"
      "kira kira kira kira"
      "jeanette jeanette patrick patrick";
  }

  #daniel {
    grid-area: daniel;
  }
  #jonathan {
    grid-area: jonathan;
  }
  #jeanette {
    grid-area: jeanette;
  }
  #patrick {
    grid-area: patrick;
  }
  #kira {
    grid-area: kira;
  }
}

@media only screen and (min-width: 1000px) {
  .testimonials {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "daniel daniel jonathan kira"
      "jeanette patrick patrick kira";
  }
}
